/* Updated Header.module.css */
header {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -6px 4px 8px rgba(34, 51, 102, 0.15);
  -webkit-box-shadow: 0px -6px 4px 8px rgba(34, 51, 102, 0.15);
  -moz-box-shadow: 0px -6px 4px 8px rgba(34, 51, 102, 0.15);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

.main {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.stepperContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

.toolbar {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  cursor: pointer;
  width: 110px;
  height: 42px;
}

.sign__in,
.language,
.help {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 768px) {
  header {
    width: 100%;
  }

  header p {
    display: none;
  }

  .logo{
    width: 62px;
    height: 32px;
  }

  .stepperContainer {
    display: flex; /* ПОКАЗЫВАТЬ НА МОБИЛКАХ */

    width: 100%;
    margin-bottom: 10px;
  }

  .wrapper {
    padding: 5px 0;
  
  }

  .main {
    position: static;
    transform: none;
  }

  .toolbar {
    position: static;
    transform: none;
  }
}
